* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font1);
}

.main {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    color: white;
    background-color: var(--primary-bg-color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-image: url("../images/fond-javae.webp");
    background-size: cover;
}

.child:nth-child(1n) {
    flex: 0 0 100%;
    position: relative;
}

.child:nth-child(2n) {
    background: url('../images/fond-style.webp') no-repeat center center/cover;
    flex: 0 0 100%;
    position: relative;
}

.child:nth-child(3n) {
    background: url('../images/thumb.webp') no-repeat center center/cover;
    flex: 0 0 100%;
    position: relative;
    opacity: 0.9;
}

.child:nth-child(4n) {
    background: url('../images/blue.webp') no-repeat center center/cover;
    flex: 0 0 100%;
    position: relative;
    opacity: 0.9;
}

.main-video {
    width: 100vw;
    height: 100vh;
    background: url('../images/thumb.webp') no-repeat center center/cover;
}

.section-video {
    height: 100vh;
}

.video {
    width: max(60vw, 290px);
    height: auto;
    box-shadow: 0 0 5px 1px black;
}

.child {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 20px 5px var(--primary-bg-color-black);
}



::-webkit-scrollbar {
    display: none;
}

/*______________________________SECTION ACCUEIL______________________________*/

.overlay-title {
    position: relative;
    width: max(100vw, 320px);
    min-height: max(100vh, 450px);
    background-color: rgba(0, 0, 0, 0.65);
    padding: 0.5vw;
    box-shadow: 0px 0px 60px 5px black;
}

h1, h4, h3, h2 {
    font-family: var(--font1);
    font-weight: 100;
    color: var(--primary-bg-color-white);
    text-align: center;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    font-size: max(5.4vw, 46px);
    letter-spacing: 0.8vw;
    color: var(--quinternary-bg-color);
    padding: 0.5vw;
    top: 25%;
    right: 0%;
    position: absolute;
    animation: moveH1 1.5s;
    animation-fill-mode: forwards;
}

@keyframes moveH1 {
    from {
        left: -200%;
        opacity: 0;
    }

    to {
        left: 0%;
        opacity: 1;
    }
}

h2 {
    padding: 0.5vw;
    font-size: max(2vw, 14px);
    color: var(--primary-bg-color-white);
    top: 40%;
    right: 0%;
    position: absolute;
    animation: moveH2 2s;
    animation-fill-mode: forwards;
}

@keyframes moveH2 {
    from {
        right: -200%;
        opacity: 0;
    }

    to {
        left: 0%;
        opacity: 1;
    }
}

.p-css {
    font-size: max(1.2vw, 11px);
    top: 50%;
    right: 0%;
    position: absolute;
    animation: movePcss 2s;
    animation-fill-mode: forwards;
    line-height: 30px;
    text-align: left;
}

.span-font {
    color: var(--quinternary-bg-color);
    font-size: max(2vw, 13px);
}

.span-font2 {
    color: var(--quinternary-bg-color);
    font-size: max(1.5vw, 11px);
}

.span-cyril {
    letter-spacing: 5px;
}

@keyframes movePcss {
    from {
        left: -200%;
        opacity: 0;
    }

    to {
        left: 50%;
        opacity: 1;
    }
}

/*_______________X_______________FIN SECTION ACCUEIL_______________X_______________*/


/*______________________________SECTION À PROPOS______________________________*/

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: max(80vw, 300px);
    padding: 3vw 0;
    box-shadow: 0px 0px 10px 5px black, inset 5px 0px 30px 7px black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: max(5vw, 30px);
}

h3 {
    font-family: var(--font2);
    font-size: max(1.7vw, 20px);
    letter-spacing: 0.2vw;
    color: var(--primary-bg-color-white);
    margin-top: max(1vw, 5px);
}

.p-titre {
    width: max(30vw, 300px);
    font-family: var(--font1);
    font-size: max(1vw, 11px);
    letter-spacing: 0.2vw;
    line-height: max(1.4vw, 14px);
}

.container-skills {
    width: max(30vw, 300px);
}

.block-skillsBar {
    width: 100%;
    justify-content: space-between;
    border: 2px solid rgb(255, 255, 255);
    margin: 12px 0;
    border-radius: 50px;
}

.skills-bar {
    width: 90%;
    background-color: var(--primary-bg-color-black);
    border-radius: 0px 50px 50px 0px;
}

.skills {
    text-align: right;
    font-size: max(0.9vw, 9px);
    width: 100%;
    padding: 1px;
    color: rgb(255, 255, 255);
    border-radius: 0px 50px 50px 0px;
}

.p-skills {
    font-size: max(1vw, 9px);
    font-family: var(--font1);
    width: max(8vw, 70px);
    color: var(--primary-bg-color-white);
    background-color: #000000;
    border-radius: 50px 0px 0px 50px;
    border-right: 2px solid var(--primary-bg-color-white);
}

.html {
    width: 90%;
    background-color: rgb(255, 0, 0);
}

.css {
    width: 80%;
    background-color: rgb(0, 135, 225);
}

.js {
    width: 15%;
    background-color: rgb(255, 217, 0);
}

.responsive {
    width: 95%;
    background-color: rgb(109, 0, 163);
}

.php {
    width: 30%;
    background-color: rgb(72, 72, 136);
}

.mySql {
    width: 30%;
    background-color: rgb(237, 135, 1);
}

.wordpress {
    width: 50%;
    background-color: rgb(0, 217, 255);
}

.bootstrap {
    width: 20%;
    background-color: rgba(181, 53, 197, 0.7);
}

/*_______________X_______________FIN SECTION À PROPOS_______________X_______________*/


/*______________________________SECTION PROJETS______________________________*/

/*--------------------CUBE--------------------*/
#projets {
    flex-wrap: wrap;
    flex-shrink: 0;
    padding: max(5vw, 30px);
    gap: 10vw;
}

.scene {
    position: relative;
}

.cube-container {
    perspective: max(48.6vw, 400px);
    width: max(24.3vw, 200px);
    height: max(24.3vw, 200px);
}

.cube {
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(max(-12.15vw, -110px));
    transition: transform 1s;
    width: max(24.3vw, 200px);
    height: max(24.3vw, 200px);
}

.face-cube {
    position: absolute;
    border: 6px double white;
    color: white;
    text-align: center;
    width: max(24.3vw, 200px);
    height: max(24.3vw, 200px);
    box-shadow: inset 0px 0px 40px 15px rgba(0, 0, 0, 0.734);
    cursor: pointer;
    padding: 1vw;
}

.face-front {
    background: rgb(82, 82, 82);
    box-shadow: inset 0px 0px 40px 15px rgb(0, 0, 0);
}

.face-right {
    background: rgb(255, 255, 255);
    color: black;
    border: 6px double black;
}

.face-right h3 {
    color: black;
}

.face-back {
    background: rgb(82, 82, 82);
    box-shadow: inset 0px 0px 40px 15px rgb(0, 0, 0);
}

.face-left {
    background: rgb(255, 255, 255);
    color: black;
    border: 6px double black;
}

.face-left h3 {
    color: black;
}

.face-top {
    background: rgb(163, 0, 0);
}

.face-bottom {
    background: rgb(163, 0, 0);
}

.cube.show-front {
    transform: translateZ(max(-12.15vw, -100px)) rotateY(0deg);
}

.cube.show-right {
    transform: translateZ(max(-12.15vw, -100px)) rotateY(-90deg);
}

.cube.show-back {
    transform: translateZ(max(-12.15vw, -100px)) rotateY(-180deg);
}

.cube.show-left {
    transform: translateZ(max(-12.15vw, -100px)) rotateY(90deg);
}

.cube.show-top {
    transform: translateZ(max(-12.15vw, -100px)) rotateX(-90deg);
}

.cube.show-bottom {
    transform: translateZ(max(-12.15vw, -100px)) rotateX(90deg);
}

.face-front {
    transform: rotateY(0deg) translateZ(max(12.15vw, 100px));
}

.face-right {
    transform: rotateY(90deg) translateZ(max(12.15vw, 100px));
}

.face-back {
    transform: rotateY(180deg) translateZ(max(12.15vw, 100px));
}

.face-left {
    transform: rotateY(-90deg) translateZ(max(12.15vw, 100px));
}

.face-top {
    transform: rotateX(90deg) translateZ(max(12.15vw, 100px));
}

.face-bottom {
    transform: rotateX(-90deg) translateZ(max(12.15vw, 100px));
}

.labelCube {
    font-family: var(--font5);
    font-size: max(1.4vw, 16px);
    text-shadow: -0.5px -0.5px 0px black;
    transition: 0.5s;
}

.labelCube:hover {
    color: var(--quinternary-bg-color);
}

.radio-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5vw 4vw 5vw 4vw;
    box-shadow: 1px 1px 20px 8px black, inset 20px 0px 20px 15px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    letter-spacing: 0.1vw;
    line-height: max(3vw, 30px);
}

.inputCube[type="radio"]:checked,
.inputCube[type="radio"]:not(:checked) {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

/* XXXXXXXXXXXXXXXXXXXX FIN CUBE XXXXXXXXXXXXXXXXXXXX */

/*--------------------CONTENU CUBE--------------------*/

.overlay-cube {
    position: absolute;
    display: none;
    /* Cacher par défaut */
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    /* active le scroll si besoin */
    z-index: 1;
    scroll-snap-type: none;
}

.overlay-cube.active {
    display: block;
}

.overlay-content {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    border: 4px double var(--primary-bg-color-white);
}

.overlay-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    color: var(--quinternary-bg-color);
    top: 10px;
    right: 30px;
    font-size: max(2.5vw, 40px);
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: var(--primary-bg-color-white);
    text-decoration: none;
    cursor: pointer;
}

/*Projets*/

.img-face1, .img-face3 {
    width: max(20vw, 150px);
    box-shadow: 0 0 5px 1px white;
}

.img-face2, .img-face4, .img-face5, .img-face6 {
    width: max(20vw, 150px);
    box-shadow: 0 0 5px 1px rgb(0, 0, 0);
}

.p-face1, .p-face2, .p-face3, .p-face4, .p-face5, .p-face6 {
    font-family: var(--font1);
    font-size: max(0.8vw, 9px);
    margin-top: 1vw;
}

.projet-titre1 {
    font-family: var(--font4);
    font-size: max(2vw, 13px);
    margin: 0;
    padding: 0 0 2vw 0;
}

.sub-blockOverlay {
    gap: 3vw;
    margin: 1vw 0;
    height: 100%;
}

.projet-titre {
    font-family: var(--font4);
    font-size: max(2vw, 15px);
    margin: 0;
    padding: 0 0 2vw 0;
}

.block-imgVid {
    width: max(90vw, 300px);
    flex-wrap: wrap;
}


.images {
    box-shadow: 0 0 10px 2px white;
    border-radius: 10px;
}


.img-overlay, .img-overlay1 {
    width: max(50vw, 290px);
    margin-bottom: max(1vw, 20px);
}

.img-overlay1 {
    background-color: #eeeeee;
    padding: 2vw 0;
}

.img-overlay2 {
    width: max(30vw, 280px);
    margin-bottom: max(1vw, 20px);
}

.img-overlay3 {
    width: max(16vw, 90px);
    margin-bottom: max(0.5vw, 20px);
    border-radius: 10px;
}

.img-overlay3-marg {
    margin-left: max(2vw, 10px);
}

.p-overlay {
    font-size: max(1.2vw, 12px);
    line-height: max(2vw, 20px);
    text-align: center;
}

.blockLink-video {
    margin-top: max(1vw, 20px);
}

.link-video {
    color: var(--quinternary-bg-color);
    text-decoration: none;
    font-size: max(1vw, 12px);
    transition: 0.5s
}

.link-video:hover {
    color: var(--primary-bg-color-white);
    letter-spacing: 0.1vw;
}

.span-video {
    color: var(--primary-bg-color-white);
    transition: 0.5s
}

.span-video:hover {
    color: var(--quinternary-bg-color);
}

.marg-projet3 {
    margin-left: max(8vw, 0px)
}


.link-return, .blockLink-video {
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid var(--quinternary-bg-color);
    padding-top: max(0.3vw, 2px);
    padding-bottom: max(0.3vw, 2px);
    padding-left: max(0.6vw, 4px);
    padding-right: max(0.6vw, 4px);
    border-radius: 10px;
    margin-bottom: max(1vw, 50px);
    transition: 0.5s
}

.link-return:hover, .blockLink-video:hover {
    border: 2px solid var(--primary-bg-color-white);
}

.figure2 {
    position: relative;
}

.p-overlay2 {
    position: absolute;
    top: 45%;
    left: 7%;
    font-size: max(1.2vw, 12px);
    line-height: max(2vw, 20px);
    color: var(--primary-bg-color-black);
}

.liens {
    margin-top: max(2vw, 10px);
}

.btn-respons {
    display: block;
    font-size: max(1vw, 11px);
    width: max(10vw, 100px);
    text-decoration: none;
    background-color: var(--primary-bg-color-black);
    color: var(--primary-bg-color-white);
    border: 3px solid var(--primary-bg-color-white);
    padding: 0.5vw;
    transition: 0.5s;
    letter-spacing: 0.1vw;
    border-radius: 10px;
}

.btn-respons:hover {
    color: var(--quinternary-bg-color);
    border: 3px solid var(--quinternary-bg-color);
    letter-spacing: 0.3vw;
    border-radius: 20px;
}

/*Fin projets*/



/* XXXXXXXXXXXXXXXXXXXX FIN CONTENU CUBE XXXXXXXXXXXXXXXXXXXX */

/*_______________X_______________FIN SECTION PROJETS_______________X_______________*/





/*______________________________SECTION CONTACT______________________________*/

.formContact {
    width: max(30vw, 300px);
    min-height: 80vh;
    border: 6px double var(--quinternary-bg-color);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 1vw;
    box-shadow: inset 0px 0px 30px 2px var(--quinternary-bg-color), 10px 10px 20px 0px var(--primary-bg-color-black);
}

.h3-contact {
    font-family: var(--font3);
    font-size: max(3vw, 35px);
    color: var(--primary-bg-color-white);
    text-shadow: 2px 2px 10px var(--quinternary-bg-color);
    letter-spacing: 1px;
}

.block-email, .block-message {
    text-align: left;
    margin-top: max(1vw, 20px);
    color: var(--quinternary-bg-color);
}

.email, .message {
    font-size: max(1.1vw, 15px);
    margin: 8px 0px 5px;
    letter-spacing: 1px;
    color: var(--primary-bg-color-white);
}

.mailText {
    font-size: max(1vw, 10px);
    border-radius: 10px;
    padding: 11px;
    border: 2px solid var(--quinternary-bg-color);
    background-color: black;
    color: var(--primary-bg-color-white);
    box-shadow: 0px 0px 3px 1px var(--quinternary-bg-color);
}

.mailText:focus {
    outline: 2px solid white;
}

.textarea, .input-mail {
    width: max(25vw, 250px);
    font-size: max(1vw, 12px);
    box-shadow: inset 0px 0px 3px 1px var(--quinternary-bg-color);
}

#envoyer {
    font-size: max(1.1vw, 12px);
    width: max(8vw, 100px);
    padding: 5px;
    margin-top: max(5vw, 30px);
    margin-bottom: max(1vw, 20px);
    border: 3px solid var(--quinternary-bg-color);
    background-color: var(--primary-bg-color-black);
    color: var(--primary-bg-color-white);
    border-radius: 10px;
    transition: 0.5s;
}

#envoyer:hover {
    border: 3px solid var(--primary-bg-color-white);
    background-color: var(--quinternary-bg-color);
    color: var(--primary-bg-color-black);
    letter-spacing: 2px;
}

.block-social {
    position: absolute;
    top: 30px;
    right: 10px;
    gap: max(1vw, 10px);
}

.svg-social {
    color: var(--quinternary-bg-color);
    width: max(2vw, 16px);
    height: max(2vw, 16px);
}

.linkCV {
    background-color: var(--quinternary-bg-color);
    color: var(--primary-bg-color-black);
    font-size: max(1vw, 9px);
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 4px;
}

.red, .green {
    font-size: max(0.9vw, 11px);
    padding: 3px 15px;
    border-radius: 10px;
    border: 2px solid white;
}

.red {
    background-color: rgb(189, 0, 0);
}

.green {
    background-color: rgb(69, 160, 69);
}

/*_______________X_______________FIN SECTION CONTACT_______________X_______________*/








/*______________________________MEDIAQUERIES______________________________*/

@media only screen and (max-width: 700px) {
    .overlay {
        flex-direction: column;
        width: 85%;
        padding: 5px 0;
    }

    .p-titre, .container-skills {
        width: 90%;
    }

    .block-skillsBar {
        margin: 8px 0;
    }

    .radio-group {
        padding: 30px 50px 30px 50px;
    }

    .link-return, .blockLink-video {
        border: 1px solid var(--quinternary-bg-color);
        border-radius: 5px;
    }

    .link-return:hover, .blockLink-video:hover {
        border: 1px solid var(--primary-bg-color-white);
        border-radius: 5px;
    }
}

@media only screen and (max-width: 630px) {
    .video {
        margin-left: 0px;
    }
}


@media only screen and (max-width: 400px) {
    .p-css {
        font-size: max(1.2vw, 11px);
    }

    @keyframes movePcss {
        from {
            left: -200%;
            opacity: 0;
        }

        to {
            left: 30%;
            opacity: 1;
        }
    }
}

@media only screen and (min-width: 390px) and (max-width: 540px) {
    .scene {
        margin-bottom: 60px;
    }
}



@media only screen and (orientation: landscape) and (max-height: 700px) {

    /* Accueil */
    .p-css {
        top: 47%;
        line-height: 20px;
    }

    /* A propos */
    .overlay {
        width: 95vw;
        padding: 2vw;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .img-overlay1 {
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .img-overlay2 {
        width: max(30vw, 230px);
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .block-skillsBar {
        margin: 5px 0;
    }

    /* Projets */
    #projets {
        flex-wrap: nowrap;
        flex-shrink: 0;
    }

    .radio-group {
        padding: 5vw 3vw 5vw 3vw;
    }

    /* Contact */
    #contact {
        padding: 1vw;
    }

    .formContact {
        width: max(72vw, 420px);
        min-height: 90vh;
        padding: 0;
        margin: 0;
    }

    .h3-contact {
        font-size: max(3vw, 22px);
        margin-top: 2vw;
        margin-bottom: 0vw;
    }

    .email, .message {
        font-size: max(1.1vw, 11px);
        margin: 0px 0px 5px;
    }

    .textarea, .input-mail {
        width: max(25vw, 200px);
        font-size: max(1vw, 11px);
    }

    #envoyer {
        font-size: max(1.1vw, 10px);
        margin-top: 3vw;
        margin-bottom: 1vw;
        width: max(8vw, 90px);
        padding: 3px;
    }

    .block-landscape {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}

/*_______________X_______________FIN MEDIAQUERIES_______________X_______________*/