@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&family=Poppins&family=Roboto:wght@100;400&display=swap');

:root {
    /* ---------------Variable couleur----------------- */
    --primary-bg-color-black: rgb(0, 0, 0);
    --primary-bg-color-white: rgb(255, 255, 255);
    --secondary-bg-color: rgb(177, 218, 255);
    --teriary-bg-color: rgb(0, 10, 150);
    --quaternary-bg-color: rgb(255, 47, 47);
    --quinternary-bg-color: rgb(8, 248, 200);
    --fifth-bg-color: rgb(147, 146, 146);
    /*-------------Varible Couleur avec opacity ----------------- */
    --opacity: 0.9;
    --secondary-bg-color-opacity: rgba(1, 23, 49, var(--opacity));
    --teriary-bg-color-opacity: rgba(71, 108, 141, var(--opacity));
    --teriary-bg-color-opacity2: rgba(71, 108, 141, 0.5);
    /* ---------------VARIABLE font-size--------------- */
    --title-size: max(2vw, 20px);
    --sous-title-size: max(1.5vw, 15px);
    --text-size: max(1vw, 11px);
    /* ---------------VARIABLE font-family------------- */
    --font1: "Roboto", Arial, sans-serif;
    --font2: "Poppins", Arial, sans-serif;
    --font4: "Lobster", Arial, sans-serif;
    --font5: "Lobster Two", Arial, sans-serif;
}

/* ---------------ClASS----------------- */

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.center-hori {
    justify-content: center;
}

.center-vert {
    align-items: center;
}

.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



/* ---------------MENU BURGER----------------- */

/*______________________________MENU BURGER______________________________*/

#bloc-menuCercle {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: left;
}

.icon {
    position: absolute;
    top: 70%;
    left: 69%;
    transform: translateX(-50%) translateY(-50%);
}

.svg {
    width: 40px;
    height: 40px;
    color: transparent;
}

.svg:hover {
    color: var(--primary-bg-color-white);
}

#menu__active:checked~label .svg,
#menu__active:checked~label .span-b1b4,
#menu__active:checked~label .span-b3b6 {
    color: var(--quinternary-bg-color);
    transition: 0.3s;
}

#menu__active:checked~label .svg:hover {
    color: var(--primary-bg-color-white);
    transition: 0.3s;
}

.a-propos, .contact, .span-b3b6 {
    color: transparent;
    transition: 0.3s;
}

.accueil, .projets, .span-b1b4 {
    color: transparent;
    transition: 0.3s;
}

.span-aPropos {
    margin-left: -10px;
}

.boutons {
    visibility: hidden;
}

.hamburger {
    content: ' ';
    position: relative;
    width: 25px;
    border: 2px solid var(--quinternary-bg-color);
    background-color: var(--quinternary-bg-color);
    border-radius: 2px;
    transition: all 0.1s ease;
}

.hamburger:after,
.hamburger:before {
    content: ' ';
    position: absolute;
    left: 50%;
    width: 100%;
    border: 2px solid var(--quinternary-bg-color);
    background-color: var(--quinternary-bg-color);
    border-radius: 2px;
    transform: translateX(-50%);
    transition-property: top, bottom, transform;
    transition-duration: 0.5s, 0.5s, 0.15s;
}

.hamburger:after {
    top: -10px;
}

.hamburger:before {
    bottom: -10px;
}

#menu__active:checked~label .hamburger {
    border-color: transparent;
    background-color: transparent;
    transition: border-color 0.2s;
}

#menu__active:checked~label .hamburger:after {
    top: -2px;
    border-color: var(--quinternary-bg-color);
    transform: translateX(-50%) rotate(45deg);
    transition-property: top, transform;
    transition-duration: 0.20s, 1s;
    border: 2px solid var(--primary-bg-color-white);
}

#menu__active:checked~label .hamburger:before {
    bottom: -2px;
    border-color: var(--quinternary-bg-color);
    transform: translateX(-50%) rotate(-45deg);
    transition-property: bottom, transform;
    transition-duration: 0.20s, 1s;
    border: 2px solid var(--primary-bg-color-white);
}

.menu {
    pointer-events: none;
}

/*FOND*/
.menu--circle {
    position: fixed;
    z-index: 1;
    width: 243px;
    height: 243px;
    overflow: hidden;
}

.menu__active {
    position: relative;
}

/*ZONE SOUS BURGER*/
.menu__toggle {
    z-index: 11;
    position: absolute;
    top: -75px;
    left: -75px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    transition: transform 1.3s;
    cursor: pointer;
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0);
}

#menu__active:checked~label .menu__toggle {
    transition: all 0.5s;
    border: 2px solid var(--quinternary-bg-color);
    background-color: black;
}

/*ARC*/
.menu__listings {
    z-index: 10;
    position: absolute;
    top: -200px;
    left: -200px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    transform: scale(0.1) rotate(150deg);
    transition: 0.4s 0.4s;
}

#menu__active:checked~label .menu__listings {
    transform: rotate(10deg) scale(1);
    border: 2px solid var(--quinternary-bg-color);
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.4s;
}

/*Bouton flèche*/
.menu__arrow {
    visibility: hidden;
    position: absolute;
}

.menu__arrow input[type="radio"] {
    position: fixed;
    top: -99999px;
    left: -99999px;
}

.menu__arrow ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu__arrow--top {
    top: 2em;
    left: 215px;
}

.menu__arrow--top .arrow {
    transform: rotate(-45deg);
}

.menu__arrow--left {
    top: 220px;
    left: 0.5em;
}

.menu__arrow--left .arrow {
    transform: rotate(-135deg);
}

.arrow {
    width: 18px;
    height: 18px;
    border-right: 4px solid var(--quinternary-bg-color);
    ;
    border-top: 4px solid var(--quinternary-bg-color);
    ;
    border-radius: 3px;
    transition: border-color 0.2s;
    cursor: pointer;
    pointer-events: auto;
}

.arrow:hover {
    border-color: var(--primary-bg-color-white);
    transition: border-color 0.2s;
}

.circle {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    list-style: none;
}

.circle li {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0 100%;
}

.circle li .placeholder {
    position: absolute;
    left: -100%;
    padding-top: 1.5em;
    width: 200%;
    height: 200%;
    text-align: center;
    transform: skewY(54deg) rotate(18deg);
}

.circle li .placeholder .upside {
    transform: rotate(180deg);
}

.circle li .placeholder a {
    text-decoration: none;
    pointer-events: auto;
    color: transparent;
}

.circle li .placeholder button {
    pointer-events: auto;
}

.circle li .placeholder .button {
    background-color: transparent;
    border: none;
    font-size: 0.7em;
    cursor: pointer;
}

.circle li:nth-child(1) {
    transform: rotate(0deg) skewY(-54deg);
}

/*projets*/
.circle li:nth-child(2) {
    transform: rotate(26deg) skewY(-54deg);
}

/*à propos*/
.circle li:nth-child(3) {
    transform: rotate(84deg) skewY(-54deg);
}

.circle li:nth-child(4) {
    transform: rotate(108deg) skewY(-54deg);
}

/*accueil*/
.circle li:nth-child(5) {
    transform: rotate(132deg) skewY(-54deg);
}

.circle li:nth-child(6) {
    transform: rotate(180deg) skewY(-54deg);
}

.circle li:nth-child(7) {
    transform: rotate(216deg) skewY(-54deg);
}

.circle li:nth-child(8) {
    transform: rotate(252deg) skewY(-54deg);
}

.circle li:nth-child(9) {
    transform: rotate(288deg) skewY(-54deg);
}

/*contact*/
.circle li:nth-child(10) {
    transform: rotate(338deg) skewY(-54deg);
}

#menu__active {
    position: fixed;
    top: -99999px;
    left: -99999px;
}

#menu__active:checked~label .menu__arrow {
    visibility: visible;
    transition: all 0.4s 0.6s;
}

#menu__active:checked~label .menu__arrow--top label {
    display: none;
}

#menu__active:checked~label .menu__arrow--top label[for="degree--up-0"] {
    display: block;
}

#menu__active:checked~label #degree--up-0:checked~.menu__listings {
    transform: rotate(116deg);
}

#menu__active:checked~label #degree--up-0:checked~.menu__arrow--top label {
    display: none;
}

#menu__active:checked~label #degree--up-0:checked~.menu__arrow--top label[for="degree--up-1"] {
    display: block;
}

/*_______________X_______________FIN MENU BURGER_______________X_______________*/


/*______________________________MEDIAQUERIES______________________________*/


@media only screen and (max-width: 600px) {
    * {
        cursor: none;
    }
}

/*_______________X_______________FIN MEDIAQUERIES_______________X_______________*/